# snipmate

############
#  Basics  #
############

# italics
snippet *
	*${1:`@+`}* ${0}
# bold
snippet **
	**${1:`@+`}** ${0}
# bold italics
snippet ***
	***${1:`@+`}*** ${0}
# strikethrough
snippet ~~
	~~${1:`@+`}~~ ${0}
# inline code
snippet `
	\`$1\` ${0}

##########
#  Math  #
##########

# inline math
snippet $
	$${1:`@+`}$ ${0}
# math block
snippet $$
	$$
	${1:`@+`}
	$$
	${0}
